@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/registerbackground.jpg');

    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerBox {
    width: 60%;
    height: 80%;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 25px;
    display: flex;
}

.registerIlustration {
    width: 50%;
    height: 100%;
    border-radius: 25px;
    background-color: #311B92;
}

.registerForm {
    width: 50%;
    height: 100%;
}

.input {
    border: 1px solid #7b7b7b40;
    width: 450px;
    height: 40px;
    outline: none;
    overflow: hidden;
    background-color: #E9E9E9;
    border-radius: 10px;
    transition: all 0.5s;
    padding: 5px;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid #7E57C2;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }

  .registerForm {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
  }

  .formText {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .formText img {
    width: 200px;
    height: 200px;

  }

  .registerInput {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .registerInput button {
    width: 462px;
    height: 60px;
    padding: 5px;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 400;
    background-color: #311B92;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
  }
  .registerInput label{
    width: 80%;
    text-align: start;
  }

  .registerInput select {
    border: 1px solid #7b7b7b40;
    width: 462px;
    height: 52px;
    outline: none;
    overflow: hidden;
    background-color: #E9E9E9;
    border-radius: 10px;
    transition: all 0.5s;
    padding: 5px;
}

.registerInput select:hover,
 .registerInput select:focus {
  border: 2px solid #7E57C2;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
.registerIlustration img{
    width: 100%;
    height: 80%;
}

.registerIlustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerIlustration button {
    width: 200px;
    height: 40px;
    padding: 5px;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    cursor: pointer; 
}

small {
  display: none;
  color: #fb5f5f;
  font-size: 20px;
}