@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    display: flex;

}

.sideBar {
    width: 15vw;
    height: 100vh;
    background-color: #7E57C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #E9E9E9;
}

.sideBar img {
    width: 50%;
}

.user,
.userData,
.favoriteBrand {
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #311B92;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.user p {
    font-size: 30px;
    text-align: center;
}

.sideBar button {
    width: 200px;
    height: 40px;
    padding: 5px;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    cursor: pointer;
}

.screen {
    width: 85vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 10px;
    width: 40%;
    height: 50px;
    background-color: #E9E9E9;
    border-radius: 40px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

ul {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

li {
    text-decoration: none;
    list-style: none;

}

header a {
    text-decoration: none;
    font-size: 20px;
}


.FavoriteData {
    height: 27vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.FavoriteConter {
    padding: 10px;
    width: 750px;
    height: 200px;
    background-color: #E9E9E9;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);

}

.FavoriteChart {
    padding: 10px;
    width: 750px;
    height: 200px;
    background-color: #E9E9E9;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}


.FavoriteConter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nike,
.adidas,
.vans,
.puma,
.ous {
    color: #F5F5F5;
    width: 140px;
    height: 150px;
    background-color: rgb(49, 27, 146);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nike img,
.adidas img,
.vans img,
.puma img,
.ous img {
    width: 75px;
}

.BrandBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.historic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    height: 67.5vh;
    width: 100%;
}

.historicCharts {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.timeHistoric,
.movesHistoric {
    height: 45%;
    width: 93%;
    background-color: #E9E9E9;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);

}

.timeHistoric h1 ,
.movesHistoric h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.ranking {
    height: 98%;
    width: 47%;
    max-height: 98%;
    background-color: #E9E9E9;
    border-radius: 15px;
    margin-right: 25px;
    overflow-y: auto;
    box-shadow: 3px 3px 3px 3px rgba(0, 0,0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ranking h1 {
    margin-top: 10px;
}

.rankingGrid {
    display: grid;
    gap: 10px;
    width: 100%;
}

.rankingPosition {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.rankingPosition img {
    height: 50px;
    width: 50px;
}

.rankingPosition div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rankingPosition p {
    color: #F5F5F5;
    font-size: 20px;
}

.playerName {
    width: 30%;
    height: 80px;
    background-color: #311B92;
    border-radius: 15px;
}

.positionNumber {
    width: 15%;
    height: 80px;
    background-color: #311B92;
    border-radius: 15px;
}

.playerMoves {
    width: 22%;
    height: 80px;
    background-color: #311B92;
    border-radius: 15px;
}
.playerTime {
    width: 15%;
    height: 80px;
    background-color: #311B92;
    border-radius: 15px;
}

.playerDay {
    width: 15%;
    height: 80px;
    background-color: #311B92;
    border-radius: 15px;
}