@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
  background-image:  url("/assets/imgs/backgroundNoticias.png");
  background-size: cover;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 15vh;
}

nav {
    background-color: #E0E0E0;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    margin-left: 350px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #311B92;
    font-weight: 800;
    font-size: 27px;
    letter-spacing: -1px;
}

nav a img {
    width: 200px;
    height: 200px;
}

nav button {
    background-color: #6D4C41;
    border: none;
    width: 200px;
    height: 70px;
    border-radius: 15px;
    transition: all 0.5s;
}

#nav-button {
    text-decoration: none;
    color: #F5F5F5;
    letter-spacing: 0.5px;
    font-size: 30px;
    font-weight: 700;
}
nav button:hover{
    border: 4px solid rgb(109, 76, 65);
    box-shadow: 0px 0px 0px 7px rgba(68, 48, 41, 0.2);
    background-color: #6D4C41;
}
#News {
    margin-top: 25px;
    text-align: center;
    color: #311B92;
    font-size: 50px;
}

.carrosel {
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-image: url("/assets/imgs/backgroundNoticias.png"); */
  background-size: cover;
  align-items: center;
  margin-bottom: 7rem;
}
.slider {
  margin-top: 50px;
  position: relative;
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  /* border: 2px solid #311B92; */
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  /* opacity: 0.7; */
  width: 100%;
  height: 100%;
  max-height: 600px;
  display: block;
}

.slide h1 {
  color: #311B92;
  font-size: 35px;
  margin-top: -90px;
  text-align: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}   

.NewsSection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  width: 100%;
}

.newsHeader {
  color: #311B92;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

.newsHeader div {
  width: 1000px;
  height: 2px;
  background-color: #311B92;
}

.newsBox {
  width: 80%;
    
}