@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.sideBar {
    width: 15vw;
    height: 100vh;
    background-color: #7E57C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #E9E9E9;
}

.sideBar img {
    width: 50%;
}