@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to top, #311B92, #7E57C2); */
    background-image: url('../img/backgroundLogin.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBox{
    background-color: #f5f5f5;
    width: 50%;
    height: 70%;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: row;

}
.logo{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #311B92;
    font-weight: 600;
}

.loginForm {
    width: 50%;
    height: 100%;
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.loginForm img {
    width: 350px;
    height: 350px;
}

.loginIlustration {
    width: 50%;
    height: 100%;
    background-color: #311B92;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginIlustration img {
  width: 100%;
}

.input {
    border: 1px solid #7b7b7b40;
    width: 350px;
    height: 50px;
    outline: none;
    overflow: hidden;
    background-color: #E9E9E9;
    border-radius: 10px;
    transition: all 0.5s;
    padding: 5px;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid #7E57C2;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }

  .loginInput {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .loginInput h1, .loginInput small {
    text-align: start;
  }

  .loginInput button{
    width: 360px;
    height: 60px;
    padding: 5px;
    color: #f5f5f5;
    font-size: 20px;
    font-family:'Montserrat';
    font-weight: 400;
    background-color: #311B92;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
  }

.loginText {
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginText h1{
  font-size: 40px;
}

.loginText small {
  font-size: 15px;
}

.loginIlustration button {
  width: 200px;
  height: 40px;
  padding: 5px;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #F5F5F5;
  border-radius: 20px;
  cursor: pointer; 
}

.loginInput label{
  width: 80%;
  text-align: start;
}

#alerta {
  display: none;
  color: #fb5f5f;
  font-size: 20px;
}